.header-content {
  margin: 0;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #010101;
}

.header-content img {
  width: 50px;
}
